
.material h1{
  margin-bottom: 10px;
  font-size: 40px
}


#zairyou{
  font-size: 35px;
  text-decoration: underline;
  background-image: url(/images/tamago18-1280x720.png);
}

.main-wrapper {
  display: flex;
}

.header-wrapper h1{
  font-family: "Nikukyu";
  color: rgb(141, 141, 3);
  font-size: 50px;
  margin-bottom: 10px;
}


.feature{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(255, 255, 201);
  .Item1{
    width: calc(100%/2);
  }
  .Item2{
    width: calc(100%/2);
  }
  .Item3{
    width: calc(100%/2);
  }
  .Item4{
  width: calc(100%/2);
}
}

.button{
  text-align: center;
  background-image: url(/images/tamago18-1280x720.png);
}