.material h1{
  text-decoration: underline;
  text-underline-position: below;
}


.feature{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: aquamarine;
  .Item1{
    width: calc(100%/2);
  }
  .Item2{
    width: calc(100%/2);
  }
  .Item3{
    width:100%;
  }
}

.button{
  text-align: right;
}